<h1 class="text-center pt-3">Choose your reporting dashboard</h1>
<div class="row">
  <% @mcards.each do |mcard| %>
  <div class="col-lg-3 col-md-6">
    <a href=<%="/admin/dashboard/#{mcard.id}" %> class="w-100 float-left">
      <div class="card card-custom" >
          <div class="card-body">
            <h1 class="text-center"><%= mcard.title %> Reports</h1>
          </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
<style>
.main-panel>.content {
    padding: 78px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}
.card-custom{
  min-height:250px;
  background:#42b883;
  align-content:center;
  flex-flow: wrap-reverse;
}
</style>