<footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            1974 Productions
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            Blog
          </a>
        </li>
      </ul>
      <div class="copyright">
        ©
        1974 Productions 2019
      </div>
    </div>
</footer>